.p1
{
    font-size: 70px;
}
.p2
{
    font-size: 90px;
    background-color: rgb(183, 187, 187);
    color: white;
    width: 50%;
    margin: auto;
    padding: 22%;
    font-weight: 100;
}
div
{
    font-size: 50px;
}
button{
    padding: 20px;
    width: 15%;
    margin: auto;
    font-size: 50px;
    color: white ;
    background-color: rgb(56, 127, 145);
}